<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="/pocketBankLogo.png"/>
        <title>{{title}}</title>
    </head>

    <body>
        <div align="center">
            <h1>{{message}}</h1>
            <img src="/pocketBankLogo.png" alt="POCKET BANK LOGO!!"/>
            <div align="bottom">
                <a href="/swagger-ui/index.html">
                    <img src="/pocketBankApiRouteImage.png" alt="Pocket Bank API Docs" width="250px"/>
                    <p>{{thanks}}</p>
                </a>
            </div>
        </div>
    </body>

</html>
