<!doctype html>
<html lang="en" class="oldie">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{content}}</title>
        <link rel="stylesheet" type="text/css" media="all" href="/style-ziperror.css"/>
        <link rel="icon" type="image/x-icon" href="/pocketBankLogo.png"/>
    </head>
    <body>
        <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_400'>400</div>
            <hr>
            <div class='_1'>CEP INEXISTENTE!</div><br>
            <div class='_2'>REQUISIÇÃO INVÁLIDA</div><br>
            <a class='btn' href='/user/register'><= VOLTAR AO CADASTRO</a>
        </div>
    </body>
</html>
